In [1]:
from bs4 import BeautifulSoup
import requests
import gspread
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support import select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as ec
from gspread_dataframe import set_with_dataframe
import requests
import selenium.webdriver as webdriver
import time
import numpy as np

In [2]:
s = Service("C:\\Users\\Admin\\Downloads\\DA TOOLS\\chromedriver.exe")
browser = webdriver.Chrome (service=s)
browser.get ( "https://www.linkedin.com " )

In [3]:
username = browser.find_element("id", 'session_key' )
username.send_keys ( "aakhetan@gmail.com" )
password = browser.find_element("id", "session_password" )
password.send_keys ( "khetanqwerty" )

In [4]:
login = browser.find_element("xpath", '//*[@id="main-content"]/section[1]/div/div/form[1]/div[2]/button' )
login.click()

In [47]:
jobs=[]
location=[]
company=[]
followers=[]
job_detail=[]
empc_indus=[]
inv_level=[]
applicants=[]
role=[]
for i in range(0,976,25):
    browser.get('https://www.linkedin.com/jobs/search/?currentJobId=3579663062&geoId=102713980&location=India&refresh=true&start='+str(i))
    time.sleep(3)
    l=[]
    jobs_block=browser.find_elements(By.XPATH,"//ul[@class='scaffold-layout__list-container']/li")
    for job in jobs_block:
        browser.execute_script("arguments[0].scrollIntoView();",job)
        links=browser.find_elements('tag name','a')
        time.sleep(3)    
    for i in links:
        l.append(i.get_attribute('href'))        
    href=[]
    for i in l:
        if 'jobs/view' in i:
            href.append(i)
    href_final=set(href)
    print(len(href_final))
    count=0
    for i in href_final:
        browser.get(i)
        browser.implicitly_wait(15)
        count+=1
        print(count,end=" ")
        try:
            d=browser.find_element("xpath","/html/body/div[5]/div[3]/div/div[1]/div[1]/div/section/section/div[1]/div[1]/div/div[2]/div[2]")
            followers.append(d.text)
        except:
            followers.append(np.nan)
        try:
            e=browser.find_element('xpath','/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[1]/span[2]/span[2]/span')
            applicants.append(e.text)
        except:
            applicants.append(np.nan)    
        try:
            a=browser.find_element('xpath','/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/h1')
            jobs.append(a.text)
        except:
            jobs.append(np.nan)
        try:
            b=browser.find_element('xpath','/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[1]/span[1]/span[2]')
            location.append(b.text)
        except:
            location.append(np.nan)    
        try:
            c=browser.find_element('xpath','/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[1]/span[1]/span[1]/a')
            company.append(c.text)
        except:
            company.append(np.nan)
        try:
            d=browser.find_element('xpath','/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[2]/ul/li[1]')
            inv_level.append(d.text)
        except:
            inv_level.append(np.nan)
        try:
            g=browser.find_element('xpath','/html/body/div[5]/div[3]/div/div[1]/div[1]/div/div[1]/div/div/div[1]/div[2]/ul/li[2]')
            empc_indus.append(g.text)
        except:
            empc_indus.append(np.nan)
        try:
            h=browser.find_element('id','job-details')
            role.append(h.text)
        except:
            role.append(np.nan)

5
1 2 3 4 5 5
1 2 3 4 5 12
1 2 3 4 5 6 7 8 9 10 11 12 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 25
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 26
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 24
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 22
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [48]:
col=['Job Title','Location','Company','empc_indus','Followers','inv_level','Applicants','Role']
df=pd.DataFrame({'Job Title':jobs,'Location':location,'Company':company,'Role':role,'empc_indus':empc_indus,'Followers':followers,'inv_level':inv_level,'Applicants':applicants})

In [49]:
df

,Job Title,Location,Company,Role,empc_indus,Followers,inv_level,Applicants
0,KYC Analyst,"Delhi, Delhi, India",Barclays,About the job\nJob Title: - KYC Analyst\n\nLoc...,"10,001+ employees · Financial Services","1,394,613 followers",Full-time · Associate,NaN
1,Administrativo — con detalles personales,"Lucknow, Uttar Pradesh, India",Hyatt Hotels Corporation,About the job\nOrganization- Hyatt Regency Luc...,"10,001+ employees · Hospitality","1,168,158 followers",Full-time · Entry level,28 applicants
2,Teammate,"Gurgaon, Haryana, India",TaskUs,About the job\nIt started with one ridiculousl...,"10,001+ employees · Outsourcing and Offshoring...","175,105 followers",Full-time,3 applicants
3,Associate Analyst,"Gurgaon, Haryana, India",Mastercard,About the job\nOur Purpose\n\nWe work to conne...,"10,001+ employees · IT Services and IT Consulting","1,221,670 followers",Full-time · Entry level,3 applicants
4,Teammate,"Gurgaon, Haryana, India",TaskUs,About the job\nIt started with one ridiculousl...,"10,001+ employees · Outsourcing and Offshoring...",,Full-time,10 applicants
...,...,...,...,...,...,...,...,...
951,Opening for Customer Support at BPO work from ...,"Gwalior, Madhya Pradesh, India",NaN,About the job\nThis job is sourced from a job ...,See recent hiring trends for TALENT MAX HR & M...,NaN,Full-time · Entry level,NaN
952,SAP Retail Consultant,"Chennai, Tamil Nadu, India",Shalini Recruitments,About the job\nSAP IS Retail Consultant – SALE...,1-10 employees,163 followers,Full-time,51 applicants
953,Loss Prevention Associate,"Belgaum, Karnataka, India",Fairfield Inn & Suites by Marriott,About the job\nJob Number 23058272\n\nJob Cate...,"5,001-10,000 employees · Hospitality","25,894 followers",Full-time · Entry level,2 applicants
954,副经理/小组组长 – 带个人详细资料,"Kerala, India",Hyatt Hotels Corporation,About the job\nOrganization- Hyatt Regency Koc...,"10,001+ employees · Hospitality","1,168,236 followers",Full-time · Mid-Senior level,1 applicant
955,Keyword Specialist - Internet Searching,Mumbai Metropolitan Region,Corsearch,About the job\nDo you get excited when hearing...,"501-1,000 employees · Information Services","25,870 followers",Full-time · Mid-Senior level,78 applicants

In [54]:
df.to_csv('Linkedin scrapped data.csv')